<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: headerFragment}">
</head>
<body>
	<div id="container">
		<h1>
			Hello, <span th:text="${username}">--name--</span>.
		</h1>
		<a href="/logout">Logout</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>SKU</th>
					<th>Description</th>
					<th>Price</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.name}">Text ...</td>
					<td th:text="${customer.sku}">Text ...</td>
					<td th:text="${customer.description}">Text...</td>
					<td th:text="${customer.price}">Text...</td>
					<td th:text="${customer.category}">Text...</td>
				</tr>
			</tbody>
		</table>
		<div id="pagefoot" th:insert="~{layout :: headerFragment}">Footer
		</div>
	</div>
	<!-- container -->
</body>
</html>
