<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:replace="~{header :: head}"></th:block>

    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/products.css"/>

    <title>Products</title>
</head>
<body>
<th:block th:replace="~{header :: htmx-csrf}"></th:block>

<div id="global-header" th:replace="~{header :: globalHeader}"></div>

<div id="products-header">
    <div>Total: <span th:text="${count}" th:remove="tag">555</span></div>
    <div>
        <input class="form-control" type="search"
               name="search" placeholder="Begin Typing To Search..."
               hx-post="/products/search"
               hx-trigger="input changed delay:500ms, search"
               hx-target="#search-results"
               hx-indicator=".htmx-indicator">
    </div>
    <div class="htmx-indicator"></div>
    <div><a href="/products/json?page=1&limit=10">json</a></div>
</div>

<table class="striped-table" id="search-results">
    <thead>
    <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.sku}">SKU</td>
        <td th:text="${product.description}">Desc</td>
        <td th:text="${product.price}">Price</td>
        <td th:text="${product.category}">Category</td>
    </tr>
    <tr hx-get="/products/html?page=2&limit=10"
        hx-trigger="revealed"
        hx-swap="afterend">
        <td>name1</td>
        <td>sku1</td>
        <td>desc1</td>
        <td>price1</td>
        <td>category1</td>
    </tr>
    </tbody>
</table>
</body>
</html>
