<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{layout :: headerFragment}">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Demo</h1>
		</div>
		<div class="well">
			<a th:href="@{/products}">Products (thymeleaf)</a>
		</div>
		<div class="well">
			<a th:href="@{/materials}">Materials (thymeleaf, htmx)</a>
		</div>
		<div class="well">
			<a th:href="test.html">Test page (static html)</a>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
				erat lectus, vehicula feugiat ultricies at, tempus sed ante. Cras
				arcu erat, lobortis vitae quam et, mollis pharetra odio. Nullam sit
				amet congue ipsum. Nunc dapibus odio ut ligula venenatis porta non
				id dui. Duis nec tempor tellus. Suspendisse id blandit ligula, sit
				amet varius mauris. Nulla eu eros pharetra, tristique dui quis,
				vehicula libero. Aenean a neque sit amet tellus porttitor rutrum nec
				at leo.</p>
		</div>
		<div id="pagefoot" th:insert="~{layout :: footerFragment}">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>
