<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <th:block th:replace="~{header :: head}"></th:block>

    <link rel="stylesheet" href="/css/table.css"/>
    <link rel="stylesheet" href="/css/materials.css"/>

    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

    <title>Materials</title>
</head>
<body>
<div id="global-header" th:replace="~{header :: globalHeader}"></div>

<div id="materials-header">
    <div>Search</div>
    <div>.</div>
    <div>
        <button type="button">Add Material</button>
    </div>
</div>

<table class="striped-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="material : ${materials}">
        <td th:text="${material.name}">Name</td>
        <td th:text="${material.type}">Type</td>
        <td th:text="${material.price}">Price</td>
        <td th:text="${material.category}">Category</td>
    </tr>
    </tbody>
</table>

</body>
</html>